{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>About Us</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="{% static 'about.css' %}">
    </head>
    <body>
            <div id="navbar">
            <ul class="Main">
            
      
              <li><a href=>HOME</a></li>
              <li><a href="about.html">ABOUT</a></li>
              <li><a href="Decision-Factors.html">FACTORS </a></li>
              <li><a href="report.html">CUSTOMIZED REPORT</a></li>
            
              <li class=><a href="index.html">LOGIN</a></li>
              <li class=><a href="signup.html">SIGN UP</a></li>
            </ul>
          </div>


        <h2> ABOUT US </h2>
<div id="mission">
    <p style="text-align:center"> <b> OUR PROJECT</b></p>
        <h3>We aim to provide a solution to the question revolving around since the advent of electric vehicles - To EV or NOT? </h3>
        <p>We are committed towards our customers and have developed this web app which considers realtime decision factors, takes customer input and outputs a customized solution which can help you take an informed decision.  </p>
    </div>

<div id="info">
<div id="pros">
    <h4> <b>Benefits of using Electric Vehicle </b> </h4>
<p><b> Tax Benefits:</b> The federal government offers tax credit ranging anywhere between 2500$ - 7500$ when you purchase or lease an electric car. The credit depends on the battery capacity of the car.</p>
<p> <b> Fuel Costs: </b> The price of charging your electric vehicle is estimated to be half the price of gasoline.</p>
<p><b> Maintenance:</b> Technologies like regenerative braking prevent brake pads from wearing out quickly. Less moving parts mean that the lifespan of the parts are long which help reduce maintenance costs.</p>
<p><b> Performance:</b> Electric cars can help produce better torque from standstill unlike gasoline vehicles and the performance of the car is maximized with optimal weight distribution.</p>
<p><b> Environment Friendly:</b> Electric vehicles are better on the environment since they do not have tailpipe emissions and drastically lowers the impact on the environment.</p>
</div>

<div id="cons">
<h4> <b>Disadvantages of using an electric vehicle</b> </h4>
<p><b> Expensive:</b> If one is looking for an effiecient electric car with good range, it would be an expensive buy compared to a gasoline vehicle</p>

<p><b>Time Consuming:</b> If it is not feasible for one to install a charger at home, it would be a time consuming affair to charge their vehicle. This could be a concern for working professionals who do not have much time on hand to charge their vehicles.</p>

<p><b> Range:</b> The range on the electric cars, although impressive, could be a conern for many and it is not feasible if one prefers to go on long drives or live at a particular location where the infrastructure to charge electric vehicles is not great. </p>

<p><b>Battery Maintenance:</b> The heart of an electric vehicle - The Battery is prone to worn out and replacing them can get exceptionally expensive.  </p>
<p><b> Fewer Choices:</b> If one is a car fanatic and likes customizing the cars to their liking, it would be difficult for them to customize the vehicles considering the limited number of choices available. There are fewer choices for one to pick from.</p>

</div>
</div>
    </body>
</html>