{% load static %}
<!DOCTYPE html>

<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title> Decision Factors</title>
        
        <link rel="stylesheet" href="{% static 'Decision-Factors.css' %}">
    </head>
    <body>

        <div id="navbar">
            <ul class="Main">
            
      
              <li><a href=>HOME</a></li>
              <li><a href="about.html">ABOUT</a></li>
              <li><a href="Decision-Factors.html">FACTORS </a></li>
              <li><a href="report.html">CUSTOMIZED REPORT</a></li>
            
              <li class=><a href="index.html">LOGIN</a></li>
              <li class=><a href="signup.html">SIGN UP</a></li>
            </ul>
          </div>


          <div id="factors1">
           <div id="Availability"> 
            <h3>Availability and Time Spent</h3>
            <p>This is a very important factor that would help identify the effectiveness and ease of use of an electric vehicle. This factor would also include sub-factors like below</p> 
                    
                <p> <b>Location: </b> The location you are located at and the availability of electric charging stations around your location.</p>
                 <p> <b>Time Spent to refuel:</b> We consifet the human time factor. Some people are super busy and must use their car multiple times a day (Food/Groceries Delivery Professionals) or do not have enough time to wait for their car to get charged. </p>
                    
                    <p><b> In Home Charging Station: </b> Calculate the power consumption per one full charge of the vehicle.</p>
                
           </div>

        
            <div id="COST" >
             <h3> Mileage</h3>
 
             <p> We determine the cost to mileage ratio of operating a gasoline vehicle versus using an electric vehicle. This would help understand the benefits of using one over the other in longer run.</p>

             <p> This would also help understand how frequently you would have to make a run to the charging station. </p>
 
            </div>
           <div id="Usecase">
            
            

                <h3> Primary Usecase </h3>
                 <p>
                    Determine if you  want to get from point A to point 
                    B or to get a car that one would drive long distances. This will also include sub-factors like below
                 </p>
                <p><b> Primary car:</b> Is this going to be your primary car? This factor is essential to determine if EV is a good option.  </p>
                     <p><b>Long Drives:</b> How often do you go on  a road trip? - Studies show that  consumers do not buy a EV vehicle because of the well known troubles of EV supporting a limited miles in range and hence we consider this factor to know how frequently do one go on a long drive</p>
                 
                    
                </div>
            </div>
                

                
       
        <script src="" async defer></script>
    </body>
</html>