{% load static %}
<html>
    <head>
        <title>
            Login / Signup Module
        </title>
        <link rel = "stylesheet" type="text/css" href="{% static 'index.css' %}">
    </head>
    <body>

        <div id="navbar">
            <ul class="Main">
            
      
              <li><a href=>HOME</a></li>
              <li><a href="about.html">ABOUT</a></li>
              <li><a href="Decision-Factors.html">FACTORS </a></li>
              <li><a href="report.html">CUSTOMIZED REPORT</a></li>
            
              <li class=><a href="index.html">LOGIN</a></li>
              <li class=><a href="signup.html">SIGN UP</a></li>
            </ul>
          </div>
        <div class = "loginbox">
            <img src="mks.jpeg" class="avatar">
            <h1> Login Here </h1>
            <form>
                <p> Username </p>
                <input type="text" name="" placeholder="Enter Username">
                <p> Password </p>
                <input type="password" name="" placeholder="Enter Password">
                <input type="submit" name="" value="Login">
                <a href="#"> Forgot Password? <br> </a>
                <a href="#"> New User? </a>
            </form>
        </div>
    </body>
</html>