{% load static %}
<html>
    <head>
        <title> Signup </title>
        <link rel="stylesheet" type="text/css" href="{% static 'signup.css' %}">
    </head>
    <body>

        <div id="navbar">
            <ul class="Main">
            
      
              <li><a href=>HOME</a></li>
              <li><a href="about.html">ABOUT</a></li>
              <li><a href="Decision-Factors.html">FACTORS </a></li>
              <li><a href="report.html">CUSTOMIZED REPORT</a></li>
            
              <li class=><a href="index.html">LOGIN</a></li>
              <li class=><a href="signup.html">SIGN UP</a></li>
            </ul>
          </div>

        <form>
            <h1> Sign Up </h1>
            <input type="text" name="" placeholder="Full Name"> 
            <input type="email" name="" placeholder="Email"> 
            <input type="password" name="" placeholder="Password"> 
            <input type="password" name="" placeholder="Confirm Password"> 
            <button type="Submit"> Sign Up </button>
        </form>
    </body>    
</html>    